<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<meta name="theme-color" content="#fc4513">
    <meta http-equiv="pragma" content="no-cache" />-->

    <title>{{ title }}</title>

    <script src="{{ url_for('static', filename='js/chartist.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartist-plugin-legend.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.dev.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chartist.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chartist-legend.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <!--<div>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Home</a>
      <a class="navbar-brand" href="#">Link Tests</a>
    </nav>
  </div>-->

<!-- Row 1 -->
<div class="pt-4 container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="card text-center" style="background-color: #F23B2A;">
        <div class="card-body">
          <h5 class="card-title" style="color: white">Uptime</h5>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card text-center" style="background-color: #F23B2A;">
        <div class="card-body">
          <h5 class="card-title" style="color: white">Nodes Running</h5>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card text-center" style="background-color: #F23B2A;">
        <div class="card-body">
          <h5 class="card-title" style="color: white">Avg. Temp</h5>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card text-center" style="background-color: #F23B2A;">
        <div class="card-body">
          <h5 class="card-title" style="color: white">Power</h5>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card text-center" style="background-color: #F23B2A;">
        <div class="card-body">
          <h5 class="card-title" style="color: white">Total Memory</h5>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Row 2 -->
  <div class="pt-4 container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <canvas id="core-util"></canvas>
          <div class="card-body">
          <h5 class="card-title">Node Utilisation</h5>
          <a href="#" class="btn btn-primary">Run Utilisation Stress Test</a>
          </div>
        </div>
        </div>
          <div class="col-md">
            <div class="card">
              <div class="card-body">
                <canvas id="mem-util"></canvas>
              </div>
            </div>
          </div>
      </div>
    </div>

      <!-- Row 3 -->
    <div class="pt-4 container-fluid">
      <div class="row">
        <div class="col-md">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Memory</h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text">View the current memory load on all cores</p>
              <a href="#" class="btn btn-primary">Run memory stress test</a>
            </div>
          </div>
        </div>
          <div class="col-md">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Box Status</h5>
                <h6 class="card-subtitle mb-2 text-muted">View which cores are live</h6>
                <div id="viz"></div>
                <div id="viz"></div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <p>Goo</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/px-load.js') }}" }></script>
    <script src="{{ url_for('static', filename='js/mem-load.js') }}" }></script>
    <script src="{{ url_for('static', filename='js/box-status.js') }}" }></script>

</body>



</html>
